# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
dependency-graph.svg
dependency-violations.html

# System Files
.DS_Store
Thumbs.db

.env
!/examples/bun-react-hono-monorepo-todo/packages/backend
distServer/*
!/distServer/package.json
dist-server/*
.ssh


# vuepress
pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist

# vitepress
docs/.vitepress/cache
docs/.vitepress/dist

# vitepress
docs/.vitepress/cache
docs/.vitepress/dist

/db
examples/*/db
test.heapsnapshot
projects/test-servers/*/db
test-results.json
test-results.xml
projects/remult-admin/tmp/
projects/remult-admin/db/


docs/public/pagefind/