.row-button {
  height: auto;
  line-height: normal;
}

.inner-wrapper {
  display: inline-block;
}
.dataGrid {
  overflow: auto;
  border: 1px solid #e0e0e0;
  height: 100%;
}
.dataGridBodyArea {
}
.dataGridHeaderCell {
}
.dataGridButtonHeaderCell {
}
.dataGridButtonCell {
}
.dataGridDataCell,
.dataGridHeaderCell {
}
.dataGridRow {
  display: flex;
}

.dataGridHeaderArea {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  clear: both;
  background-color: rgb(245, 245, 245);
  z-index: 3;
  mat-icon {
    font-size: 16px;
    height: 18px;
    width: 18px;
    line-height: 18px;
  }
}
.dataGridFooterButtonGroup {
  display: inline-block;
}
.dataGridFooterArea {
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(245, 245, 245);
}

/* styling */

.dataGridHeaderCell,
.dataGridDataCell {
  padding: 4px;
}
.dataGridHeaderCell {
}
.dataGridDataCell {
  border-top: 1px solid #e0e0e0;
}
.data-grid-row-more-buttons {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding-left: 0;
  padding-right: 0;
  width: 18px;
  mat-icon {
    font-size: 16px;
    height: 17px;
    width: 18px;
    line-height: 17px;
  }
  button {
    width: auto;
    height: auto;
    line-height: 18px;
  }
}
.data-grid-row-selection {
  width: 18px;
}
.dataGridFooterArea {
  border: 1px solid #e0e0e0;
}

.filterDialog {
  background-color: white;
  position: absolute;
  padding: 10px;
  border-color: gray;
  border-width: 2px;
  border-style: solid;
  z-index: 800;
  border-radius: 5px;
  width: 200px;
}

.filterDialog .form-group {
  margin-right: 0;
  margin-left: 0;
}

.designModeButton span {
  visibility: hidden;
}

.designModeButton:hover span {
  visibility: visible;
}
.selectColumnCombo {
  display: inline-block;
  width: auto;
}
.selectColumnsArea {
  display: block;
}

.headerWithFilter {
}
.headerWithFilter .filterButton {
  visibility: hidden;
}
.headerWithFilter .filteredFilterButton {
  visibility: visible;
}
.headerWithFilter:hover .filterButton {
  visibility: visible;
}

.filterButton {
}
table input {
  min-width: 75px;
}
table select {
  min-width: 100px;
}
.dataGridFooterArea {
  box-sizing: border-box;
}
.hide-on-narrow {
  @media (max-width: 500px) {
    display:none;
  }
}
