<h1 mat-dialog-title>Sign in</h1>
<form class="example-form" (submit)="signIn()">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="username" [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="password" [(ngModel)]="password" type="password" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">Sign in</button>
    <button mat-raised-button (click)="cancel()">cancel</button>
  </div>
</form>