/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: rgb(0, 102, 200);
  --vp-c-brand-2: rgb(0, 102, 200);
  --vp-c-brand-3: rgb(0, 102, 200);
  --vp-c-brand-soft: rgb(0, 102, 200, 0.14);
}

.dark {
  --vp-c-brand-1: rgb(0, 153, 300);
  --vp-c-brand-2: rgb(0, 153, 300);
  --vp-c-brand-3: rgb(0, 153, 300);
  --vp-c-brand-soft: rgb(0, 153, 300, 0.14);
}
