:root {
  /* --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  ); */
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #00003b 30%,
    #0066c8 30%
  );
  --vp-home-hero-image-filter: blur(110px);
}

/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: rgb(5, 6, 57);
  --vp-c-brand-2: rgb(0, 102, 200);
  --vp-c-brand-3: rgb(0, 102, 200);
  --vp-c-brand-soft: rgb(0, 102, 200, 0.14);

  /* start dark code samples */
  --vp-code-block-color: rgba(255, 255, 245, 0.86);
  --vp-code-block-bg: #161618;
  --vp-code-block-divider-color: #000000;

  --vp-code-lang-color: rgba(235, 235, 245, 0.38);

  --vp-code-line-highlight-color: #000000;
  --vp-code-line-number-color: rgba(235, 235, 245, 0.38);

  --vp-code-copy-code-border-color: rgba(82, 82, 89, 0.32);
  --vp-code-copy-code-bg: #252529;
  --vp-code-copy-code-hover-border-color: rgba(82, 82, 89, 0.32);
  --vp-code-copy-code-hover-bg: #323238;
  --vp-code-copy-code-active-text: rgba(255, 255, 245, 0.86);

  --vp-code-tab-text-color: rgba(235, 235, 245, 0.6);
  --vp-code-tab-hover-text-color: rgba(255, 255, 245, 0.86);
  --vp-code-tab-active-text-color: rgba(255, 255, 245, 0.86);
  /* end dark code samples*/

  --vp-code-font-size: 14px;
}

.dark {
  --vp-c-brand-1: rgb(0, 153, 300);
  --vp-c-brand-2: rgb(0, 153, 300);
  --vp-c-brand-3: rgb(0, 153, 300);
  --vp-c-brand-soft: rgb(0, 153, 300, 0.14);

  --vp-sidebar-bg-color: rgba(2, 2, 36, 1);
  --vp-c-bg: rgb(5, 5, 40);
  --vp-c-bg-alt: rgba(5, 7, 57, 1);

  .shiki {
    code {
      line-height: 1.7;
      display: flex;
      flex-direction: column;
    }

    code .line {
      padding: 0 .5rem;
      width: 100%;
      display: block;
    }

    code .line:empty {
      height: 1rem;
    }

    code .line.diff.add {
      background-color: #003d00;
    }

    code .line.diff.remove {
      background-color: #3d0000;
    }
  }
}

div[class*='language-'] {
  --vp-c-bg: var(--vp-code-block-bg);
}

.l-home {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 4rem auto;
}

.l-home__title {
  display: flex;
  width: 33.33%;
  flex-direction: column;
  gap: 1rem;
}

.l-home__content {
  display: flex;
  width: 66.66%;
  flex-direction: column;
  gap: 1rem;
}

.VPNav .title span {
  display: none;
}