
    <div class="pull-right" *ngIf="settings&&records">
        <button class="btn glyphicon glyphicon-pencil btn-primary" *ngIf="settings.columns.allowDesignMode" (click)="designMode=!designMode"></button>
        <button class="btn glyphicon glyphicon-chevron-left" *ngIf="settings.page>1" (click)="settings.previousPage()"></button>
        <button class="btn glyphicon glyphicon-chevron-right" *ngIf="records.items.length>0" (click)="settings.nextPage()"></button>
        <button class="btn btn-primary glyphicon glyphicon-plus" *ngIf="settings.allowUpdate &&settings.allowInser" (click)="settings.addNewRow()"></button>
    </div>

    <div *ngIf="designMode">

<pre>
{{settings.columns.columnSettingsTypeScript()}}
</pre>


    </div>
    <div >
        <table class="table table-bordered table-condensed table-hover table-striped" *ngIf="settings">

            <thead>
                <tr>
                    <th *ngFor="let map of settings.columns.getGridColumns()" class="headerWithFilter">
                        <span  (click)="settings.sort(map.key)">{{map.caption}}</span>


                        <span class="glyphicon glyphicon-filter filterButton" [class.filteredFilterButton]="settings.columns.userFilter[map.key]" (click)="settings.columns.showFilterDialog(map)"></span>
                        <div class="filterDialog col-sm-4" *ngIf="settings.columns._shouldShowFilterDialog(map)">
                            <div class="form-group">
                                <data-control [settings]="settings.columns" [map]="map" [record]="settings.columns.userFilter" [notReadonly]="true"></data-control>
                            </div>
                            <button class="btn glyphicon glyphicon-ok btn-success" (click)="settings.columns.filterRows(map)"></button>
                            <button class="btn glyphicon glyphicon-remove btn-primary" (click)="settings.columns.clearFilter(map)"></button>

                        </div>
                        <span class="glyphicon glyphicon-chevron-down pull-right" *ngIf="settings.sortedAscending(map.key)"></span>
                        <span class="glyphicon glyphicon-chevron-up pull-right" *ngIf="settings.sortedDescending(map.key)"></span>
                        <column-designer [settings]="settings.columns" [map]="map"></column-designer>





                    </th>
                    <th *ngIf="rowButtons.length>0" [class.col-xs-1]="rowButtons.length<3" [class.col-xs-2]="rowButtons.length>=3"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let record of records" [className]="_getRowClass(record)" (click)="rowClicked(record)">

                    <td *ngFor="let map of settings.columns.getGridColumns()" [className]="settings.columns._getColumnClass(map,record)">
                        <data-control [settings]="settings.columns" [map]="map" [record]="record"></data-control>
                    </td>
                    <td *ngIf="rowButtons.length>0" style="white-space:nowrap">
                        <span *ngFor="let b of rowButtons">
                            <button class="btn {{b.cssClass(record)}}" *ngIf="b.visible(record)" (click)="b.click(record)">{{b.name}}</button>
                        </span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
<data-area *ngIf="!settings.hideDataArea" [settings]="settings" [columns]="2"></data-area>
