<div class="data-control2">
    <mat-form-field appearance="outline" [floatLabel]="getFloatLabel()" *ngIf="!showCheckbox()&&_getColumn()"
        class="full-width-form-field dense-form-field">
        <mat-label>{{map.caption}}</mat-label>
        <div style="display:flex;" *ngIf="showTextBox()&&_getColumn()">
            <input #theId matInput [(ngModel)]="_getColumn().inputValue" type="{{settings._getColDataType(map)}}"
                (ngModelChange)="settings._colValueChanged(map,record)" [errorStateMatcher]="ngErrorStateMatches"
                [ngStyle]="getStyle()" />
            <div *ngIf="showDescription()" style="white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left:10px;width:100%;" (click)="click()">
                {{settings._getColDisplayValue(map,record)}}&nbsp;</div>
        </div>
        <div *ngIf="isSelect()">
            <select matNativeControl [(ngModel)]="_getColumn().inputValue"
                (ngModelChange)="settings._colValueChanged(map,record)">
                <option *ngFor="let v of getDropDown()" value="{{v.id}}">{{v.caption}}</option>

            </select>
        </div>

        <button mat-icon-button matSuffix *ngIf="showClick()" (click)="click()">
            <mat-icon>{{getClickIcon()}} </mat-icon>
        </button>

        <mat-error *ngIf="getError()" [id]="theId">{{getError()}}</mat-error>
    </mat-form-field>
    <div *ngIf="showCheckbox()">
        <mat-checkbox #theId1 [(ngModel)]="_getColumn().inputValue"
            (ngModelChange)="settings._colValueChanged(map,record)" class="fix-label">{{map.caption}}</mat-checkbox>
        <mat-error *ngIf="getError()" [id]="theId1">{{getError()}}</mat-error>
    </div>

</div>