<div style="display: flex;">
    <div style="display: flex;width:150px;flex:0 0 150px">
        <div style="display:flex;width:100%">
            <div style="display:flex;width:100%">
                <input style="width:50px">
                <div
                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding-left: 10px; width: 100%;">
                    bla bla bla bla bla bla bla bla bla bla
                </div>
                <button>X</button>
            </div>
        </div>
    </div>
    <div> col 2</div>
</div>

<data-grid [settings]="categories"></data-grid>