.markdown-body blockquote {
  padding: 0 15px;
  color: black;
  background-color: #f9fbfe;
  border: 1px solid #5b99ea;
  border-left: 4px solid #5b99ea;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-weight: normal;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: normal;
}
.markdown-body .highlight pre,
.markdown-body pre,
.markdown-body code {
  background-color: #eaeef3;
  border: 1px solid #ccc;
}
pre.language-csdiff {
  background-color: white;
}

body {
  margin: 0px !important;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 300;
  top: 0px;
  padding: 3px;
  /* border-bottom-width: 1px; */
  /* border:#dddddd; */
  /* border-bottom-style:solid; */
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
}
.top-bar h3 {
  margin-bottom: 0px;
  margin-left: 10px;
}

.wy-side-nav-search-ff {
  background-color: white;
  text-align: left;
  display: block;
  color: #fcfcfc;
}

.current-page.TreeItem a {
  background-color: white;
  color: #333;
  font-weight: bold;
}
.markdown-body img {
  border: 1px solid #dddddd;
}
.wrapper {
  width: 100%;
  margin: 0 0;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
  width: 100%;
  position: relative;
}
.middle:after {
  display: table;
  clear: both;
  content: "";
}
.container {
  width: 100%;
  float: left;
  overflow: hidden;
}
@media screen {
  .content {
    display: block;
    max-width: 950px;
    transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
    padding: 10px;
  }
}

/*side bar on left*/
@media screen and (min-width: 780px) {
  .wrapper .container .content {
    transform: translateX(360px);
  }
  .wrapper .left-sidebar {
    width: 350px;
    /* background-color: #F8F8F8; */
  }
  .state2 .container .content {
    transform: translateX(0);
  }
  .state2 .left-sidebar {
    transform: translateX(-350px);
    visibility: collapse;
  }
}

/*side bar hidden*/
@media screen and (max-width: 779px) {
  .wrapper .container .content {
  }
  .wrapper .left-sidebar {
    transform: translateX(-350px);
    visibility: collapse;
  }

  .state2 .left-sidebar {
    visibility: visible;
    transform: translateX(0px);
    width: 350px;
    z-index: 2;
  }
  .state2 .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
@media print {
  .left-sidebar {
    visibility: collapse;
  }
}
@media print {
  iframe {
    display: none;
  }
}
.left-sidebar {
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  float: left;
  margin-left: -100%;
  background-color: white;

  font-family: "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
background-color: white;
  height: 99%;
  position: fixed;
  margin: 0;
  left: 0;
  overflow-y: auto;
  -ms-overflow-style: scrollbar;
}
.left-sidebar input {
  font-family: "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  display: block;
  width: 100%;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
}
/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
  float: left;
  width: 10px;
  margin-left: -10px;
  position: relative;
  background: #ffacaa;
}

.btn {
  display: inline-block;
  border-radius: 2px;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  font-size: 100%;
  padding: 6px 12px 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: normal;
  font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  box-shadow: 0px 1px 2px -1px rgba(255, 255, 255, 0.5) inset, 0px -2px 0px 0px rgba(0, 0, 0, 0.1) inset;
  vertical-align: middle;
  zoom: 1;
  transition: all 0.1s linear;
}

.btn-neutral {
  background-color: #f3f6f6 !important;
  color: #404040 !important;
}

.float-right {
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}
.searchButtonsDiv {
  padding-top: 5px;
}
