.wy-side-nav-search-ff{
	background-color:white;
	text-align:left;
	display:block;
	color:#fcfcfc;
	}
	
.current-page.TreeItem  a{
    background-color:white ;
	color: #333;
    font-weight:bold
}
.markdown-body img{
border: 1px solid #dddddd;
}
.wrapper {
	width: 100%;
	margin: 0 0;
} 
/* Middle
-----------------------------------------------------------------------------*/
.middle {  
	width: 100%;
	position: relative;
	
}
.middle:after {
	display: table;
	clear: both;
	content: '';
	
} 
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	}
	@media screen{
.content {
/*	padding: 0 0 0 380px; */
	padding: 0px 10px 0px 370px;
	display: block;
}
	}

/* Left Sidebar
-----------------------------------------------------------------------------*/
@media print{
	.left-sidebar{
		visibility:collapse
	}
}
@media print{
iframe{
	display:none
}
}
.left-sidebar {
	float: left;
	width: 350px;
	margin-left: -100%;
	background: #343131;
	font-family:"Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
/*	padding: -100% -100% -100% -100%;*/
    height: 99%;
    position: fixed;
    margin:0;
    overflow-y: auto;
    -ms-overflow-style: scrollbar;
}
.left-sidebar input{
	font-family:"Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size:16px;
	display: block;
	width: 100%;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 2px;
}
/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 10px;
	margin-left: -10px;
	position: relative;
	background: #FFACAA;
}


.btn {
    display: inline-block;
    border-radius: 2px;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    font-size: 100%;
    padding: 6px 12px 8px 12px;
    border: 1px solid rgba(0,0,0,0.1);
    font-weight: normal;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    box-shadow: 0px 1px 2px -1px rgba(255,255,255,0.5) inset, 0px -2px 0px 0px rgba(0,0,0,0.1) inset;
    vertical-align: middle;
    zoom: 1;
    transition: all 0.1s linear;
}
 
.btn-neutral {
    background-color: #f3f6f6 !important;
    color: #404040 !important;
}

.float-right {
    float: right;
	position: absolute;
    top: 0px;
    right: 0px;
    
} 
.searchButtonsDiv{
	padding-top:5px;
}
