.wy-side-nav-search-ff{
	background-color:white;
	text-align:left;
	display:block;
	color:#fcfcfc;
	}
	
.current-page  a{
    background-color:white
}

.wrapper {
	margin: 0 auto;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle { 
	width: 100%;
	position: relative;
	
}
.middle:after {
	display: table;
	clear: both;
	content: '';
	
} 
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	}
.content {
	padding: 0 0 0 380px; 
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 350px;
	margin-left: -100%;
	position: relative;
	background: #343131;
	padding: -100% -100% -100% -100%;
	 
}


.btn {
    display: inline-block;
    border-radius: 2px;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    font-size: 100%;
    padding: 6px 12px 8px 12px;
    border: 1px solid rgba(0,0,0,0.1);
    font-weight: normal;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    box-shadow: 0px 1px 2px -1px rgba(255,255,255,0.5) inset, 0px -2px 0px 0px rgba(0,0,0,0.1) inset;
    vertical-align: middle;
    zoom: 1;
    transition: all 0.1s linear;
}
 
.btn-neutral {
    background-color: #f3f6f6 !important;
    color: #404040 !important;
}

.float-right {
    float: right;
} 